body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square--win {
  background-color: #ffdf88;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.history-item {
  margin-bottom: 5px;
}

.history-button {
  background-color: #b1e7ff;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  outline: none;
}

.history-button:hover {
  background-color: #a5d1e9;
}

.history-button.active {
  background-color: #e9a390;
  cursor: default;
}
